<section class="section">
    <div class="wrapper">
        <div class="about">
            <div class="about__item">
                <div class="main-title">
                    <span>Fillin</span>
                    международный оператор аутсорсинга
                </div>
            </div>
            <div class="about__item">
                <img src="../img/world.png" alt="">
            </div>
        </div>
        <div class="feauters-wrapper">
            <div class="feauters-wrapper__item">
                <div class="title-h3 title-h3--blue">
                    Упрощаем сложные процессы
                </div>
                <div class="text">
                    Временный персонал Fillin эффективно решает проблемы бизнеса на уровне штатных сотрудников.
                    Это снижает нагрузку на HR-отдел и ваши расходы на содержание штатного персонала.
                </div>
            </div>
            <div class="feauters-wrapper__item">
                @include("feauters.html")
            </div>
        </div>
    </div>
</section>