<section class="section">
    <div class="wrapper">   
        <div class="banner">
            <div class="banner__text">
                Фокусируйтесь на своей основной работе — все остальное сделаем мы.
            </div>
            <div class="banner__btn">
                <a class="btn btn--light" href="#">
                    <svg>
                        <use xlink:href="img/sprite.svg#icon-pdf"></use>
                    </svg>
                    Заказать презентацию</a>
            </div>
            <img class="banner__img" src="../img/present.png" alt="">
            <img class="banner__angle" src="../img/angle.png" alt="">
        </div>
    </div>
</section>