<section class="section">
    <div class="benefit wrapper">
        <div class="title-h2 title-h2--center">
            Преимущества Fillin
        </div>
        @include("benefit-list.html")
        <div class="text text--center text--bold">
            Если вам нужен персонал на склад, производство, в ритейл, рекламу, строительство — 
            оформляйте заявку и получите сотрудников Fillin на следующий день.
        </div>
        <div class="btn-wrapper">
            <a class="btn" href="#">Оформить заявку 
                <svg>
                    <use xlink:href="img/sprite.svg#icon-arrow-light"></use>
                </svg>
            </a>
        </div>
    </div>
</section>