<ul class="benefit-list">
    <li class="benefit-list__item">
        <div class="benefit-card">
            <div class="benefit-card__info">
                <div class="benefit-card__img">
                    <svg>
                        <use xlink:href="img/sprite.svg#icon-earth"></use>
                    </svg>
                </div>
                <div class="benefit-card__title">
                    Международная компания
                </div>
                <div class="benefit-card__text">
                    Вы полностью управляете своим временем. Нет привязки к офису и ко времени 
                </div>
            </div>
        </div>
    </li>
    <li class="benefit-list__item">
        <div class="benefit-card">
            <div class="benefit-card__info">
                <div class="benefit-card__img">
                    <svg>
                        <use xlink:href="img/sprite.svg#icon-card"></use>
                    </svg>
                </div>
                <div class="benefit-card__title">
                    Менеджмент
                </div>
                <div class="benefit-card__text">
                    Вы самостоятельно выбираете, в каком месте, а также кем работать. К тому же в любой момент вы можете изменить свой выбор. 
                </div>
            </div>
        </div>
    </li>
    <li class="benefit-list__item">
        <div class="benefit-card">
            <div class="benefit-card__info">
                <div class="benefit-card__img">
                    <svg>
                        <use xlink:href="img/sprite.svg#icon-target"></use>
                    </svg>
                </div>
                <div class="benefit-card__title">
                    Каналы трафика
                </div>
                <div class="benefit-card__text">
                    Это временная работа — удобно подрабатывать в свободное время.
                </div>
            </div>
        </div>
    </li>
    <li class="benefit-list__item">
        <div class="benefit-card">
            <div class="benefit-card__info">
                <div class="benefit-card__img">
                    <svg>
                        <use xlink:href="img/sprite.svg#icon-money"></use>
                    </svg>
                </div>
                <div class="benefit-card__title">
                    Координация персонала
                </div>
                <div class="benefit-card__text">
                    Вы точно знаете размер своей зарплаты, потому что устанавливаете ее сами. 
                </div>
            </div>
        </div>
    </li>
    <li class="benefit-list__item">
        <div class="benefit-card">
            <div class="benefit-card__info">
                <div class="benefit-card__img">
                    <svg>
                        <use xlink:href="img/sprite.svg#icon-shield"></use>
                    </svg>
                </div>
                <div class="benefit-card__title">
                    Финансовая надежность
                </div>
                <div class="benefit-card__text">
                    У нас нет ограничений по опыту — перед каждым новым объектом вы проходите аттестацию.
                </div>
            </div>
        </div>
    </li>
</ul>