<section class="section">
    <div class="blog wrapper">
        <div class="title-block">
            <div class="title-h2">
                Медиа
            </div>
            <div class="title-block__link">
                <a href="#">Статьи</a>
                <a href="#">Новости</a>
            </div>
        </div>
        <div class="blog__inner">
            <div class="blog__item">
                <div class="blog-card">
                    <div class="blog-card__item">
                        <img src="../img/foto.png" alt="">
                    </div>
                    <div class="blog-card__item">
                        <div class="blog-card__title">
                            Оценка эффективности аутсорсинга
                        </div>
                        <div class="blog-card__text">
                            Аутсорсинг в Украине начинает масштабно применяться в разных сферах бизнеса.
                            В связи с этим требуется решение задачи, по оценке его эффективности ...
                        </div>
                        <div class="blog-card__date">
                            30 декабря, 2021
                        </div>
                    </div>
                </div>

            </div>

        </div>



    </div>
</section>