<section class="section section--form">
    <div class="form wrapper">
        <div class="form__item">
            <img src="../img/girl.png" alt=""> 
        </div>
        <div class="form__item">
            <div class="title-h2">
                Расскажите нам о вашей потребности
            </div>
            <div class="text">
                Найдем быстрое решение!
            </div>
            <form class="main-form">
                   <fieldset> 
                       <div>
                        <label>
                            <input class="input" type="text">
                        </label>
                        </div>
                        <div>
                            <label>
                                <input class="input" type="tel">
                            </label>
                            </div>
                            <div>
                                <label>
                                    <input class="input" type="tel">
                                </label>
                                </div>
                                <div>
                                    <textarea></textarea>
                                    </div>
                                        <div>
                                            <button class="btn">
                                                Отправить 
                                                <svg>
                                                    <use xlink:href="img/sprite.svg#icon-arrow-light"></use>
                                                </svg>
                                            </button>
                                        <div class="private">
                                            Отправляя данные, вы соглашаетесь
                                            с <a class="link" href="#">политикой конфиденциальности</a>

                                        </div>

                                        </div>
                    </fieldset>
            </form>





        </div>

    </div>
</section>