        <div class="choice-window modal modal--country" id="countryModal">
            <div class="choice-window__wrapper">
                <div class="choice-window__title">
                    Ваш регион - Украина?
                </div>
                <div class="choice-window__btns">
                    <a class="btn" href="#">
                        Все верно
                    </a>
                    <a class="btn btn--light" href="#">
                        Выбрать другой
                    </a>
                </div>
                <button class="choice-window__close close js-modal-close"></button>
            </div>
        </div>
