<section class="section">
    <div class="wrapper">   
        <div class="questions">
            <div class="questions__text">
                Остались<br> вопросы?
            </div>
            <div class="questions__btn">
                <a class="btn btn--light" href="#">
                    <svg>
                        <use xlink:href="img/sprite.svg#icon-pdf"></use>
                    </svg>
                    Заказать презентацию</a>
            </div>
            <img class="questions__angle" src="../img/angle.png" alt="">
        </div>
    </div>
</section>