<section class="section">
    <div class="wrapper">
        <div class="works">
            <div class="title-h2 title-h2--center">
                Больше 10 000 работников
            </div>
            <div class="tagline tagline--center">
                Подготовленных для выполнения вашей работы
            </div>
            @include("works-list.html")
            <div class="works__link">
                <a class="" href="#">Больше специалистов
                    <svg>
                        <use xlink:href="img/sprite.svg#icon-arrow"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>