.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.about__item {
    flex-basis: 48%;

    &:nth-child(2) {
        text-align: center;
    }
}

@media(max-width: 1100px) {
    .about .main-title {
        font-size: 46px;
        line-height: 46px;
    }

    .about__item img {
        width: 260px;
    }
}

@media(max-width: 600px) {
    .about {
        flex-wrap: wrap;
    }

    .about__item {
        flex-basis: 100%;
        width: 100%;
        margin-bottom: 30px;
    }

    .about .main-title {
        font-size: 36px;
    }


}