.app-blue {
    position: relative;
    padding: 60px 104px;
    background: linear-gradient(270deg, #093CAA 13.54%, #3A6EDF 88.02%);
    border-radius: 20px;
    overflow: hidden;
}

.app-blue__img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 30%;
}

.app-blue__inner {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: flex-start;
}

.app-blue__inner-item {
    width: 38%;
    margin-right: 20px;

    &:nth-child(2) {
        width: 25%;
    }
}

.app-blue__list {
    margin-bottom: 40px;
}

.app-blue__list-item {
    position: relative;
    margin-bottom: 12px;
    padding-left: 22px;
    font-size: 17px;
    line-height: 28px;
    color: $white;
    list-style-type: none;

    &::before {
        content: "";
        position: absolute;
        top: 10px;
        left: 0;
        z-index: 0;
        width: 12px;
        height: 12px;
        background-image: url("../../img/vector-white.png");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
    }

}

.app-blue__text {
    margin-bottom: 40px;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: $white;
}

@media(max-width: 1440px) {
    .app-blue {
        padding: 60px 20px;
    }


    .app-blue__text {
        font-size: 22px;
    }
}

@media(max-width: 1000px) {
    .app-blue .title-h2 {
        font-size: 32px;
        line-height: 44px;
        text-align: center;
    }

    .app-blue__inner {
        flex-wrap: wrap;
    }

    .app-blue__inner-item {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    
        &:nth-child(2) {
            width: 50%;
        }
    }

    .app-blue__img {
        width: 50%;
    }

}

@media(max-width: 600px) {

    .app-blue {
        padding-bottom: 0;
    }

    .app-blue__inner-item {
        width: 100%;
    
        &:nth-child(2) {
            width: 100%;
        }
    }

    .app-blue__img {
        position: relative;
        width: 100%;
    }

}