.app {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app__item {
    width: 55%;

    &:nth-child(2) {
        width: 40%;
    }
}

.app__item .text {
    margin-bottom: 24px;
}

.app__item a {
    margin-bottom: 40px;
}

@media (max-width: 1000px) {
    .app {
        flex-wrap: wrap;
    }

    .app__item {
        width: 100%;
    
        &:nth-child(2) {
            width: 100%;
        }
    }
}