.benefit-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.benefit-list__item {
    width: 17.5%;
    margin-bottom: 48px;
    margin-right: 40px;
    list-style-type: none;

    &:last-child {
        margin-right: 0;
    }
}