.card-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card-list.card-list--2 {
    justify-content: space-between;
}

.card-list__item {
    width: 17.5%;
    margin-bottom: 48px;
    margin-right: 35px;
    list-style-type: none;

    &:last-child {
        margin-right: 0;
    }
}

.card-list--5 .card-list__item {
    width: 17%;
    margin: 0 20px;
    margin-bottom: 20px;
}

.card-list--4 .card-list__item {
    width: 23%;
}

.card-list--3 .card-list__item {
    width: 30%;
}

.card-list--2 .card-list__item {
    width: 46%;
    margin-right: 0;
}

.card-list--3 .card-list__item > div {
    max-width: none;
}


@media(max-width: 1440px) {
.card-list--5 .card-list__item {
    width: 28%;
}
}


@media(max-width: 1200px) {

    .card-list--2 .card-list__item {
        width: 85%;
        margin: 0 auto;
        margin-bottom: 48px;
      }

      .card-list--3 .card-list__item {
        width: 100%;
        margin-right: 0;
    }

    .card-list.card-list--4 {
        justify-content: space-between;
    }

    .card-list--4 .card-list__item {
        width: 48%;
        margin-right: 0;
    }

    .card-list--5 .card-list__item {
        width: 100%;
    }
}


@media(max-width: 600px) {
    .card-list--2 .card-list__item {
        width: 100%;
      }

    .card-list--4 .card-list__item {
        width: 100%;
        margin-right: 0;
    }
}