  .dev-slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
     -webkit-box-pack: justify;
     -ms-flex-pack: justify;
     justify-content: space-between;
     margin-bottom: 40px;
     background-color: $lightBlue;
     border-radius: 20px;
     counter-reset: heading;
   }
   
   .dev-slider__item {
     position: relative;
     width: 50%;
     border: 1px solid $grey;
     border-radius: 20px;

    &:nth-child(2) {
      border: none;
      

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 60%;
        height: 100%;
        background-image: url("../../img/vector-blue.png");
        background-size: 100%;
        background-position: left center;
        background-repeat: no-repeat;
      }
    }
   }
   
  .slider-for-block {
    background-color: $white;
    border-radius: 20px;
  }

  .slider-foto {
    height: 100%;
  }

  .slider-foto__item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

   .slider-foto__item img {
     max-width: 500px;
     width: 100%;
     margin: auto;
   }
   
   .dev-slider__item:nth-child(2) {
     background-image: url("img/rect-back.png");
     background-size: contain;
     background-position: center;
     background-repeat: no-repeat;
   }
   
   .slider-thumb__item {
     margin-bottom: 30px;
     padding: 20px 35px;
     border-radius: 20px;
     cursor: pointer;

     &:last-child {
      margin-bottom: 0!important;
     }
   }
   
   .slider-thumb__item:focus {
     outline: none;
   }

   .slider-thumb__item.swiper-slide-thumb-active {
      box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.1);
   }

     
   .dev-card__title {
     position: relative;
     display: inline-block;
     margin-bottom: 20px;
     padding-left: 50px;
     font-weight: bold;
     font-size: 24px;
     line-height: 36px;
   }
   
   .dev-card__title::before {
     counter-increment: heading; 
     content: counter(heading);
     position: absolute;
     top: 0;
     bottom: 0;
     left: 0;
     display: block;
     margin: auto;
     width: 40px;
     height: 40px;
     font-size: 20px;
     line-height: 35px;
     color: $white;
     background:  linear-gradient(360deg, #093CAA 13.54%, #3A6EDF 88.02%);
     text-align: center;
     border-radius: 100%;
   }
   
   .dev-card__text {
      padding-left: 50px;
      font-size: 17px;
      line-height: 28px;
   }

   .slick-vertical .slick-slide.slider-thumb__item,
   .slick-vertical .slick-slide.slick-current {
     border: none;
   }
   
   .slider-thumb__item.slick-current .dev-card__title::after {
     content: "";
   }
   
   .slider-thumb__item.slick-current {
     background: -webkit-gradient(linear, left top, right top, color-stop(-0.24%, #EDF1F8), color-stop(99.76%, rgba(237, 241, 248, 0)));
     background: linear-gradient(90deg, #EDF1F8 -0.24%, rgba(237, 241, 248, 0) 99.76%);
   }
   
   .slider-thumb .slick-dots {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: center;
     -ms-flex-pack: center;
     justify-content: center;
     -webkit-box-align: center;
     -ms-flex-align: center;
     align-items: center;
     margin-top: 30px;
   }
   
   .slider-thumb .slick-dots li {
     margin: 0 12px;
     border-radius: 100%;
   }
   
   
   .slider-thumb .slick-dots li button {
     display: block;
     width: 8px;
     height: 8px;
     padding: 0;
     background-color: #9299A7;
     color: transparent;
     border: none;
     border-radius: 100%;
     cursor: pointer;
   }
   
   .slider-thumb .slick-dots li.slick-active button {
     background-color: #003EA5;
   }
   
   .slider-thumb .slick-dots li.slick-active button:focus {
     outline: none;
   }
   

   @media(max-width: 1000px) {
    .dev-slider {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
      }
      
      .dev-slider__item:nth-child(1) {
        width: 100%;
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        margin-bottom: 0;
      }
      
        .dev-slider__item:nth-child(2) {
           width: 100%;
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
          margin-bottom: 0;
      }
      
        .slider-thumb__item.slick-current {
           background: none;
      }

      .slider-thumb__item {
        margin-bottom: 0;
   }

   .slider-thumb__item.swiper-slide-thumb-active {
    box-shadow: none;
 }
  }