.feauters {
    display: flex;
    justify-content: flex-end;
}

.feauters__item {
    margin-left: 40px;
    text-align: center;
    list-style-type: none;

    &:first-child {
        margin-left: 0;
    }
}

.feauters__stat {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 64px;
    line-height: 64px;
}

.feauters__text {
    font-size: 20px;
    line-height: 28px;
}

@media(max-width: 600px) {
    .feauters {
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .feauters__item {
        width: 48%;
        margin-left: 0;
    }
    .feauters__stat {
        font-size: 32px;
        line-height: 44px;
    }
}