.footer {
    padding: 60px 0;

}

.footer__inner {
    display: flex;
    justify-content: flex-start;
}

.footer__inner-item {
    flex-basis: 17%;
    
   
}

.footer .logo {
    margin-bottom: 24px;
}

.footer__title {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 17px;
    line-height: 28px;
    color: $dark;
}

@media(max-width: 1000px) {

    .footer__inner {
        justify-content: space-between;
    }

    .footer__inner-item {
        flex-basis: 30%;
    }

    .footer__inner-item:nth-child(2),
    .footer__inner-item:nth-child(4),
    .footer__inner-item:nth-child(6) {
        display: none;
    }


    .footer .copyright {
        margin-bottom: 40px;
    }

    .footer .link-list {
        margin-bottom: 40px;
    }

    .footer-menu {
        margin-bottom: 15px;
    }

}

@media(max-width: 600px) {

    .footer__inner {
      flex-wrap: wrap;
    }

    .footer__inner-item {
        flex-basis: 100%;
    }
}