
.header {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
}

.header__top {
    padding: 20px 0;
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

.header__top-item {
    display: flex;
    align-items: center;
}

.header__top-item>div {
    margin-left: 35px;

    &:first-child {
        margin-left: 0;
    }
}

.header__bottom {
    position: relative;
    padding: 10px 0;
    background-color: $lightGrey;

    @media(max-width: 1000px) {
        display: none;
    }
}

.header__bottom-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__bottom-item {
    display: flex;
    align-items: center;
}

.header__bottom-item>div {
    margin-left: 35px;

    &:first-child {
        margin-left: 0;
    }
}

.header__mobile {
    display: none;
    justify-content: space-between;
    background-color: $lightBlue; 

    @media(max-width: 1000px) {
        display: flex;
    }
}

.header__mobile-item {
    width: 50%;
    text-align: center;
}

.header__mobile-item a {
    display: inline-block;
    padding: 14px 0;
    color: $blue;
}

.header__block-mobile {
    display: none;
    justify-content: space-between;
    width: 100%;
    padding: 10px 44px;
    border-bottom: 1px solid $grey;
}

.header__block-mobile .phone {
    font-size: 16px;
    line-height: 20px;
}

@media(max-width: 1000px) {
    .header__block-mobile {
        display: flex;
        
    }
    
    
    .header__top-item {
        padding: 10px 0;
    }
}

@media(max-width: 600px) {
    .header__block-mobile {
        padding: 10px 20px;
    }
}


