.hero-screen {
    position: relative;
    // height: 720px;
}

.hero-screen__wrapper {
    position: relative;
    display: flex;
    justify-content: flex-end;
    height: 100%;
}

.hero-screen .wrapper {
    height: 100%;
}

.hero-screen__inner {
    position: absolute;
    top: 0;
    left: 0;
}

.hero-screen__item {
    position: relative;
    flex-basis: 50%;
    height: 100%;
}

.hero-screen__inner {
    position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        margin: auto;
        
}

.hero-screen__info {
    width: 50%;
    height: 100%;
    background-image: url("../../img/fillin-logo.png");
    background-size: cover;
    background-position:  bottom right;
    background-repeat: no-repeat;
}

.hero-screen__title {
    margin-bottom: 24px;
}

.hero-screen__text {
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 28px;
}

// .hero-screen__back {
//     position: absolute;
//     top: 0;
//     right: 0;
//     width: 50%;
//     height: 100%;
// }



// .hero-screen__img {
//     position: absolute;
//     bottom: 0;
//     left: 0;
// }

.hero-screen__list {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 40px;
}

.hero-screen__list-item {
    margin-right: 60px;
    list-style-type: none;

    &:last-child {
        margin-right: 0;
    }
}

.hero-screen__list-text {
    margin-top: 15px;
    font-size: 17px;
    line-height: 28px;  
}
