.main-title,
h1 {
    color: $dark;
    font-weight: 600;
    font-size: 80px;
    line-height: 80px;
}

.main-title--center {
    text-align: center;
}

.main-title--margin {
    margin-bottom: 40px;
}

.main-title span,
h1 span {
    color: $blue;
}

@media(max-width: 1000px) {
    .main-title,
    h1 {
    margin-bottom: 30px;
    font-size: 32px;
    line-height: 1.2;
}

.main-title--margin {
   text-align: center;
}
}