.main-menu {

}

.main-menu__item {
    display: inline-block;
    margin-right: 32px;
    list-style-type: none;

    &:last-child {
        margin-right: 0;
    }
}

.main-menu__item a {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
}