.main-screen {
    z-index: 1;
}

.main-screen__wrapper {
    display: flex;
    // height: 100%;
}

.main-screen__item {
    position: relative;
    flex-basis: 50%;
    max-height: 681px;
    overflow: hidden;
}

.main-screen__item img {
    width: 100%;
}

.main-screen__info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


@media(max-width: 600px) {

    .main-screen__wrapper {
        flex-wrap: wrap;
    }

    .main-screen__item {
        flex-basis: 100%;
    }

    .main-screen__item:first-child {
        display: none;
    } 
}