.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3000;
    display: none;
    width: 100%;
    max-width: 952px;
    height: 100%;
    max-height: 488px;
    margin: auto;
    padding: 40px 30px;
    background-color: $white;
    border-radius: 10px;
    overflow: auto;
}

.modal--country {
    max-width: 464px;
    height: 200px;
}

.modal__container {
    position: relative;
    height: 100%;
}

.modal__wrapper {
    width: 100%;
    max-width: 704px;
    margin: 0 auto;
}

@media(max-width: 1000px) {
    .modal {
        height: 100%;
    }

    .modal--country {
        height: 200px;
    }
}


@media(max-width: 600px) {

    .modal--country {
        padding: 40px 20px;
    }
    
    .modal--country .btn {

    }
    
}
