.number {

}

.number--light {
    color: $white;
}


.number__info {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 100px;
    line-height: 100px;
}

.number__info span {
    font-weight: 500;
    font-size: 80px;
    line-height: 80px;
}

.number__descr {
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
}

.number__text {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
}
    