.phone {
    display: inline-block;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;

    &:hover {
        color: $blue;
    }
}

.phone--light {
    color: $white;

    &:hover {
        color: $white;
        text-decoration: underline;
    }
}