.private {
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    color: $dark;
}

.private a {
    color: $blue;

    &::before {
        background-color: $blue; 
    }
}

.private--light {
    color: $white;
}

.private--light a {
    color: $white;

    &::before {
        background-color: $white; 
    }
}