.service-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.service-list__item {
    width: 25%;
    margin-bottom: 48px;
    list-style-type: none;
}

@media(max-width: 1000px) {
    .service-list__item {
        width: 40%;
        margin: 0 20px;
        margin-bottom: 20px;
    }
}

@media(max-width: 600px) {
    .service-list__item {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 20px;
    }
}
