.social-icons {
    display: flex;
    margin-bottom: 16px;
}

.social-icons__item {
    margin-right: 12px;
    list-style-type: none;

    &:last-child {
        margin-right: 0;
    }
}

.social-icons__item svg {
    width: 28px;
    height: 28px;
}