.stat-info {
    position: relative;
    padding-bottom: 90px;

    &::before {
        content: "";
        position: absolute;
        top: -20px;
        left: -155px;
        width: 100px;
        height: 100px;
        background-image: url("../../img/angle.png");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
    } 
}

.stat-info__block {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 60px;
} 

.stat-info__block-item {
    flex-basis: 30%;

    &:nth-child(1) {
        flex-basis: 25%;
    }
} 

.stat-info .title-h2 {
    margin-bottom: 30px;
}

.stat-info img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
}

@media(max-width: 1000px) {

    .stat-info {
        padding-bottom: 0;
    }

    .stat-info__block {
        justify-content: space-between;
    }

    .stat-info__block-item {
        flex-basis: 48%;
    
        &:nth-child(1) {
            flex-basis: 48%;
        }
    } 


    .stat-info img {
        position: relative;
        width: 100%;
    }
}

@media(max-width: 600px) {

    .stat-info__block {
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .stat-info__block-item {
        flex-basis: 100%;
    
        &:nth-child(1) {
            flex-basis: 100%;
            margin-bottom: 40px;
        }
    } 

}