.swipe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
     cursor: pointer;
  }
  
 .swipe__btn {
    position: relative;
    width: 28px;
    height: 20px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }
  
  .swipe__btn span {
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: $dark;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }
  
  .swipe__btn span:nth-child(1) {
    top: 0px;
  }
  
  .swipe__btn span:nth-child(2) {
    top: 8px;
    width: 68%;
    background: $dark;
  }
  
  .swipe__btn span:nth-child(3) {
    top: 16px;
    width: 48%;
  }

  .swipe:hover .swipe__btn span:nth-child(1) {
    width: 48%;
  }

   .swipe:hover .swipe__btn span:nth-child(2) {
    width: 80%;
  }

  .swipe:hover .swipe__btn span:nth-child(3) {
    width: 100%;
  }