.works-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.works-list__item {
    width: 23%;
    margin: 0 10px;
    margin-bottom: 48px;
    list-style-type: none;
}

@media(max-width: 1200px) {
    .works-list__item {
        width: 45%;
    }
}

@media(max-width: 600px) {
    .works-list__item {
        width: 100%;
    }
}