// fonts


// colors

$dark: #161616;
$white: #ffffff;
$grey: #ECEEF3;
$darkGrey: #a8a8a8;
$lightGrey: #f8f8f8;
$lightBlue: #F3F8FF;
$blue: #0033A0;
$hoverBlue: #1051DD;
$green: #39C89D;
$greyBlue: #C7E0FF;
$grad: linear-gradient(360deg, #093CAA 13.54%, #3A6EDF 88.02%);
$lightGrad: linear-gradient(180deg, #F2F8FF 0%, #C1DDFF 100%);
$hoverLightGrad: linear-gradient(180deg, #C1DDFF 0%, #F2F8FF 100%);
$hoverGrad: linear-gradient(360deg, #043FBE 13.54%, #3777FF 88.02%);
